// Test to check sass imports actually get resolved
@import './theme/colours';

// Test to check sass variables actually get resolved:

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: block;
  background-color: $grey-dark;
  color: $grey-light;
}
